<ion-view view-title="Makeyournews!!">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" class="item-text-wrap">
		  <p>{{playlist.title}}&nbsp;&nbsp;<a href="{{playlist.link}}"> >></a> </p>
		  <label>{{playlist.publishedDate}}</label>
      </ion-item>
    </ion-list>
  </ion-content>
  <!--ion-content>
	  <ion-list>
      <ion-item ng-repeat="edition in editions" >
		  <p>
		  <button class="button button-full" ng-click="getSourceEdition(edition.hl,edition.ned)">
   			{{edition.label}}
		  </button>
		  </p>
      </ion-item>
    </ion-list>
  </ion-content -->
</ion-view>
